.pytest_cache/*
geckodriver.log
/venv/
Lecture/
/lesson02/python_data_types/
/lesson07/Lecture_9/
/lesson08/Lectute_tests_and_parsing/
/lesson09/HW_explanation/
/lesson10/lesson_pytest/
/lesson11/selenium_basics/
/lesson12/framework_from_scratch/
/lesson12/waiter_types_example.py
/lesson14/framework_from_scratch/
/lesson15/parsing_lesson/
/lesson16/restapi_lesson/
/lesson17/patterns_live_examples/
